.scroller {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  background:black;
  padding-bottom: 20px;
  padding-top: 20px;

}

.scroller::-webkit-scrollbar{
  display: none;
}
.group {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
  animation: spin 20s linear infinite;
  padding-right: 1em;
  background: black;
}

.card {
  background: linear-gradient(145deg, #6f4e37, #3b2418);
  flex: 0 0 20em;
  height: 12em;
  width: 20em;
  padding: 1em;
  text-align: center;
  align-items: center;
  color: white;
  border-radius: 12px;
}

.review-stars {
  padding: none;
  margin: none;
}


@keyframes spin
{
  from {translate: 0;}
  to {translate: -100%;}
}